.App-header {
  margin-left: 30px;
}

.App {
  display: flex;
}

.App-form {
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 5px 10px;
  font-size: 20px;
}

button {
  margin-top: 10px;
  background-color: #62dafb;
  border: none;
}

input {
  margin-top: 10px;
}

.App-body {
  margin-top: 110px;
  margin-left: 50px;
  width: 60%;
}

body {
  background-color: #282c34;
  color: white;
  font-size: 20px;
  font-family: monospace;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}
